.container{
    margin-top: 20px;
}
.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid blue;
}
.recoverd {
    border-bottom: 10px solid green;
}
.deaths {
    border-bottom: 10px solid red;
}
